body {
	background-image: url(Assets/jungle.jpg);
	text-align: center;
}

h1 {
	font-size: 100px;
	text-shadow: 1px 2px #ffffff;
	color: #867f7f;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-size: 60px;
	text-shadow: 1px 2px #ffffff;
	color: #867f7f;
	font-family: 'Permanent Marker', cursive;
}

/*Grid 1*/
#ceiling {
	margin-top: 5%;
	display: grid;
	grid-template-rows: auto auto 100px;
	grid-template-columns: auto 300px 300px 300px auto;
	grid-gap: 30px;
}
	
	/*Button*/
	#submit {
	grid-row: 1;
	grid-column: 1/6;
	background-color: #40847b;
	}

	/*Velociraptor choice displays*/
	.veloc {
	margin: auto;
	height: 250px;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0);
	}

	.velocBord {
		border: medium solid #c91010;
	}

	#blue {
		grid-row: 2;
		grid-column: 2;
	}

	#delta {
		grid-row: 2;
		grid-column: 3;
	}

	#echo {
		grid-row: 2;
		grid-column: 4;
	}

	.veloc img:hover {
	box-shadow: 2px 2px 5px #84e4b6;
	}
	/**/
/*End of Grid 1*/


img {
	width: 100%;
	height: 100%;
	border: medium solid black;
	box-shadow: 2px 2px 5px #867f7f;
}

/*Grid 2*/
#ceiling2{
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-columns: 50vw 50vw;
	grid-gap: 30px;
}

	#onetwo {
		grid-row: 2;
		grid-column: 1;
	}

	#velocHealth {
		background-color: #e7e7e7;
		display: none;
		grid-row: 2;
		grid-column: 1;
		background-color: rgba(235,235,235,.5);
		z-index: 10;
	}

	#twotwo {
		grid-row: 2;
		grid-column: 2;
	}

	#tRexHealth {
		background-color: gray;	
		display: none;
		background-color: rgba(134,62,62,.5);
		z-index: 10;
		grid-row: 2;
		grid-column: 3;
	}

	#onetwo, #twotwo {
		margin: 0px auto;
		height: 325px;
		width: 400px;
	}

	#next {
		display: none;
		grid-row: 1;
		grid-column: 1;
	}

	#attack {	
		display: none;
		grid-row: 3;
		grid-column: 1;
	}

	#attackRex {	
		display: none;
		grid-row: 1;
		grid-column: 1;
	}

	#reset {
		height: 100px;
		display: none;
		grid-row: 1;
		grid-column: 1/3;
	}

/*Buttons*/

.btn {
	width: 200px;
	min-height: 75px;
	margin: 0px auto;
	background-color: #e7e7e7;
	color: black;
	border-radius: 10px;
	font-size: 24px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px #867f7f;
}

.btn h3 {
	font-family: 'Patua One', cursive;
	text-shadow: 1px 1px #ffffff;
	margin: auto;
	color: black;
}

/**/

/*Health displays*/
.health {
	box-shadow: 2px 2px 5px #867f7f;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 24px;
	font-weight: bold;
	margin: auto;
	height: 60px;
	width: 160px;
}
