body {
	background-image: url(Assets/jungle.jpg);
	text-align: center;
	background-attachment: fixed;
}

h1 {
	font-size: 100px;
	text-shadow: 1px 2px #ffffff;
	color: #867f7f;
	font-family: 'Permanent Marker', cursive;
	padding: 0px 20px;
}

h2 {
	font-size: 60px;
	padding: 0px 20px;
	text-shadow: 1px 2px #ffffff;
	color: #867f7f;
	font-family: 'Permanent Marker', cursive;
}

#ceiling, #ceiling2 {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}


/*Button*/
#submit {
	margin: 30px auto;
	background-color: #40847b;
}

	/*Velociraptor choice displays*/
	.chooseVeloc {
		padding: 50px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		justify-items: center;
		grid-gap: 50px;
	}

	.veloc {
		width: 100%;
	}

	.veloc img {
		width: 100%;
		padding: 10px;
		border-radius: 5px;
		background-color: rgba(0,0,0,0);
		filter: drop-shadow(2px 2px 5px #867f7f);
	}

	.velocBord {
		border: medium solid #c91010;
	}

	.veloc img:hover {
		filter: drop-shadow(2px 2px 5px #84e4b6);
	}
	/**/
/*End of Grid 1*/

#onetwo, #twotwo {
	z-index: 3;
	height: 90%;
	width: 90%;
}

#onetwo img, #twotwo img {
	height: 100%;
	width: 100%;
	border: medium solid black;
	box-shadow: 2px 2px 5px #867f7f;
	z-index: 5;
	display: flex;
	display: column;
}

/*Grid 2*/
.showdown {
	/*margin: auto;*/
	padding: 25px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: min-content;
	justify-items: center;
	align-items: center;
	grid-gap: 25px;
}

	#velocHealth {
		background-color: #e7e7e7;
		display: none;
		background-color: rgba(235,235,235,.8);
		z-index: 10;
	}

	#tRexHealth {
		background-color: gray;	
		background-color: rgba(134,62,62,.8);
		z-index: 10;
	}

	#submit, #next, #attack, #attackRex {
		display: flex;
	}

	#next, #attack, #attackRex {
		display: none;
	}

	#reset {
		height: 100px;
		display: none;
	}

/*Buttons*/

.btn {
	width: 230px;
	min-height: 75px;
	margin: 0px auto;
	background-color: #e7e7e7;
	color: black;
	border-radius: 10px;
	font-size: 24px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px #867f7f;
}

.btn h3 {
	font-family: 'Patua One', cursive;
	text-shadow: 1px 1px #ffffff;
	margin: auto;
	color: black;
}

/**/

/*Health displays*/
.health {
	box-shadow: 2px 2px 5px #867f7f;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 24px;
	font-weight: bold;
	width: 160px;
	z-index: 10;
	margin: 10px auto;
}
